<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 引入bootstrap样式文件 -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/editormd.preview.css" />

    <script src="/js/editormd.min.js"></script>
    <script src="/markdown/lib/marked.min.js"></script>
    <script src="/markdown/lib/prettify.min.js"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<!-- 主体 -->
<div class="container-fluid main">
    <div class="row" style="margin: 10px">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h3>
                <span aria-hidden="true" th:text="${question.title}" style="margin: 20px"></span>
            </h3>
            <span class="text-desc">
                作者: <span th:text="${question.user.name}"></span>&nbsp;|&nbsp;
                发布时间: <span th:text="${#dates.format(question.gmtCreate,'YYYY-MM-dd HH:mm')}"></span>&nbsp;|&nbsp;
                阅读数: <span th:text="${question.viewCount}"></span>&nbsp;
            </span>
            <hr>

            <div id="test-markdown-view">
                <textarea style="display:none;" th:text="${question.description}"></textarea>
            </div>
            <script type="text/javascript">
                $(function() {
                    var testView = editormd.markdownToHTML("test-markdown-view", {
                    });
                });
            </script>
            <hr>

            <span class="label label-info" th:each="tag : ${question.tag.split(',')}"  style="margin-left:35px;font-size: 100%">
                <span th:text="${tag}"></span>
            </span>

            <hr>
            <div th:if="${session.user} != null and ${session.user.id} == ${question.creator}">
            <a class="community-menu" th:href="@{'/publish/' + ${question.id} }">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
            </a>
            <hr>
            </div>

            <h4>
                <span th:text="${question.commentCount}"></span>&nbsp;个回复
            </h4>
            <hr>
            <div class="media media-comment" th:each="comment : ${commentCreateDTOS}">
                <div class="media-left" >
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${comment.user.getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <span  th:text="${comment.user.getName()}"></span>
                    </h5>
                    <span th:text="${comment.getContent()}"></span>

                    <div>
                        <span class="glyphicon glyphicon-thumbs-up icon-comment"></span>
                        <a role="button" data-toggle="collapse"  th:href="'#collapseExample' + ${comment.id}" th:data-id="${comment.id}" onclick="collapseComments(this)">
                            <span class="glyphicon glyphicon glyphicon-comment icon-comment" th:text="${comment.getCommentCount()}"></span>
                        </a>
                        <div th:class="collapse" th:id="'collapseExample' +  ${comment.id}">
                            <div class="well two-comment" >
                                <div th:id="'comment-' + ${comment.id}"></div>
                                <textarea class="form-control comment" rows="1" th:id="'input-'+${comment.id}"></textarea>
                                <button type="button" class="btn btn-success btn-comment" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                            </div>
                        </div>

                        <span class="text-desc pull-right" th:text="${#dates.format(comment.getGmtCreate(),'YYYY-MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </div>

            <hr>
            <h4>提交回复</h4>
            <div class="media">
                <div class="media-left media-bottom">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${session.user != null ? session.user.avatarUrl : '/images/default.png'}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading question-media" th:text="${session.user != null ? session.user.name : '匿名用户'}">
                    </h4>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${question.id}">
            <textarea class="form-control comment" id="comment" rows="5"></textarea>
            <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>

        </div>

        <!-- 右侧 div -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left media-bottom">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading question-media" th:text="${question.user.name}">
                    </h4>
                </div>
            </div>
            <hr>

            <h4>相关问题</h4>
            <div class="list-group">
                <div class="list-group-item" th:each="related : ${relatedQuestion}">
                    <a class="list-group-item-heading" th:text="${related.title}" th:href="@{'/question/' + ${related.id}}"></a>
                </div>
            </div>

            <hr>

            <h4>联系博主</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="thumbnail">
                        <img src="/images/wechat.png" alt="个人微信">
                        <div class="caption" style="margin: 10px">
                            <p>Springboot,不仅仅是Springboot</p>
                            <p><a href="https://github.com/wuqingc/community" class="btn btn-primary" role="button">GitHub</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>