<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 引入bootstrap样式文件 -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<!-- 主体 -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h4>
                <span aria-hidden="true" th:text="${question.title}"></span>
            </h4>
            <span class="text-desc">
                作者: <span th:text="${question.user.name}"></span>&nbsp;|&nbsp;
                发布时间: <span th:text="${#dates.format(question.gmtCreate,'YYYY-MM-dd HH:mm')}"></span>&nbsp;|&nbsp;
                阅读数: <span th:text="${question.viewCount}"></span>&nbsp;
            </span>
            <hr>

            <div th:text="${question.description}" style="margin: 35px;">


            </div>
            <hr>
            <div th:if="${session.user} != null and ${session.user.id} == ${question.creator}">
            <a class="community-menu" th:href="@{'/publish/' + ${question.id} }">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
            </a>
            <hr>
            </div>

            <h3>
                <span th:text="${question.commentCount}"></span>&nbsp;个回复
            </h3>
            <hr>
            <div class="media media-comment" th:each="comment : ${commentCreateDTOS}">
                <div class="media-left" >
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${comment.user.getAvatarUrl()}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <span  th:text="${comment.user.getName()}"></span>
                    </h4>
                    <span th:text="${comment.getContent()}"></span>

                    <div>
                        <span class="glyphicon glyphicon-thumbs-up icon-comment"></span>
                        <span class="glyphicon glyphicon glyphicon-comment icon-comment"></span>
                        <span class="text-desc pull-right" th:text="${#dates.format(comment.getGmtCreate(),'YYYY-MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </div>

            <hr>
            <h3>提交回复</h3>
            <div class="media">
                <div class="media-left media-bottom">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading question-media" th:text="${question.user.name}">
                    </h4>
                </div>
            </div>
            <input type="hidden" id="question_id" th:value="${question.id}">
            <textarea class="form-control comment" rows="5"></textarea>
            <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>

        </div>

        <!-- 右侧 div -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left media-bottom">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading question-media" th:text="${question.user.name}">
                    </h4>
                </div>
            </div>
            <hr>

        </div>
    </div>
</div>

</body>
</html>